name: Release

on:
  push:
    paths:
      - 'pkg/version/version.go'
    branches:
      - main
      - 'release/**'

  workflow_dispatch:

env:
  GO_VERSION: '1.25.7'
  DOCKERHUB_IMAGE: solarwinds/solarwinds-otel-collector

jobs:
  govulncheck-modules: 
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false
      - name: Go vulnerabilities check
        run: |
          make ci-vulncheck-modules 2>&1
  release_checks:
    name: Release Checks
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Get Current Version
        id: get-version
        run: echo "version=$(grep -oP '(?<=const Version = ")[^"]+' "./pkg/version/version.go")" >> $GITHUB_OUTPUT
      - name: Verify that release does not already exist
        env:
          # for gh cli
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if ! gh release view "v${{ steps.get-version.outputs.version }}" 2>&1 | grep -q "^release not found$"; then
            echo "Release v${{ steps.get-version.outputs.version }} already exists on GitHub."
            exit 1
          fi
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_SOLARWINDS_ORG_LOGIN }}
          password: ${{ secrets.ENOPS5919_OPENTELEMETRYCOLLECTOR_DOCKER_HUB_CI_OAT }}
      - name: Verify that Docker images exist
        run: |
          for suffix in verified playground k8s; do
            image="${{ env.DOCKERHUB_IMAGE }}:${{ steps.get-version.outputs.version }}-${suffix}"
            if docker manifest inspect "$image" 2>&1 | grep -q "no such manifest"; then
              echo "Docker image $image does not exist on DockerHub."
              exit 1
            fi
          done
      - name: Verify that installers exist
        run: |
          for distro in verified playground; do
            s3_url="https://ssp-prod-global-agent-binaries.s3.amazonaws.com/?prefix=solarwinds-otel-collector/${distro}/v${{ steps.get-version.outputs.version }}/"
            response=$(curl -s "$s3_url")
            if ! echo "$response" | grep -q "<Contents>"; then
              echo "No installers found for ${distro} in S3 bucket"
              exit 1
            fi
          done
  create_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    name: Create GitHub Release
    needs:
      - release_checks
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0

      - name: Find Previous Tag
        run: |
          PREVIOUS_TAG=$(git tag --sort=version:refname | grep -P "^v\d+\.\d+\.\d+$" | tail -n 1)
          echo "Previous tag: $PREVIOUS_TAG"
          echo "PREVIOUS_TAG=$PREVIOUS_TAG" >> $GITHUB_ENV

      - name: Create GitHub Release
        env:
          # for gh cli
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make create-github-release current_tag="v${{ needs.release_checks.outputs.version }}" previous_tag="${{ env.PREVIOUS_TAG }}"
      
      - name: Append Docker image links to release notes
        env:
          # for gh cli
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG_VERSION="${{ needs.release_checks.outputs.version }}"
          RELEASE_VERSION="v${TAG_VERSION}"
          gh release view ${RELEASE_VERSION} --json body -q .body > notes.md
          echo "" >> notes.md
          echo "### Docker Images" >> notes.md
          echo "- [Playground](https://hub.docker.com/r/${{ env.DOCKERHUB_IMAGE }}/tags?name=${TAG_VERSION}-playground)" >> notes.md
          echo "- [Verified](https://hub.docker.com/r/${{ env.DOCKERHUB_IMAGE }}/tags?name=${TAG_VERSION}-verified)" >> notes.md
          echo "- [K8s](https://hub.docker.com/r/${{ env.DOCKERHUB_IMAGE }}/tags?name=${TAG_VERSION}-k8s)" >> notes.md

          gh release edit ${RELEASE_VERSION} --notes-file notes.md
      
      - name: Append Installer links to release notes
        env:
          # for gh cli
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          RELEASE_VERSION="v${{ needs.release_checks.outputs.version }}"
          BASE_URL="https://agent-binaries.cloud.solarwinds.com"
          
          gh release view ${RELEASE_VERSION} --json body -q .body > notes.md
          echo "" >> notes.md
          echo "### Installers" >> notes.md
          
          for distro_display in Verified Playground; do
            distro="${distro_display,,}"  # Convert to lowercase
            installer_prefix="solarwinds-otel-collector-${distro}"
            distro_path="${BASE_URL}/solarwinds-otel-collector/${distro}/${RELEASE_VERSION}"
            
            echo "- [${distro_display}](${distro_path})" >> notes.md
            echo "  - [${installer_prefix}_linux_amd64.deb](${distro_path}/${installer_prefix}_linux_amd64.deb)" >> notes.md
            echo "  - [${installer_prefix}_linux_amd64.rpm](${distro_path}/${installer_prefix}_linux_amd64.rpm)" >> notes.md
            echo "  - [${installer_prefix}_windows_x64.msi](${distro_path}/${installer_prefix}_windows_x64.msi)" >> notes.md
          done
          
          gh release edit ${RELEASE_VERSION} --notes-file notes.md

      - name: Tag Go packages on GitHub
        run: |
          TAG="v${{ needs.release_checks.outputs.version }}"
          FOLDERS="./pkg"
          make tag-github-packages tag="$TAG" folders="$FOLDERS"
